
@font-face {
    font-family: Inter;
    src: url(fonts/static/Inter-Regular.ttf);
}
@font-face {
    font-family: Sofia;
    src: url(fonts/Sofia-Regular.ttf);
}
html{
    background: black url("pexels.jpg") center center no-repeat;
    color: white;

}
body{
    display: block;
    font-family:'Inter', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    place-items: center;
    padding: 0;
    margin: 0;
    @media(min-width:500px){ display:grid;} 
}
/* */
.Container{
    background: rgba(79, 109, 245, 0.8);
    padding: 1rem;
    font-size:clamp(1rem, 2vw, 2rem);
    line-height: 1.5em;
    @media(min-width:300px){ margin:2vh; padding: 2rem; border-radius: 2rem;}
    @media(min-width:500px){ margin:7vw; padding: 3rem; }

}


    header{}
        .Avatar{
            display: block; width: 112px; height: auto; 
            margin: 0 1em 1em 0; 
            @media(min-width:400px){.Avatar { float:left;} }
            @media(min-width:800px){.Avatar { width:clamp(120px, 10vw,  12em);} }
            img{ display: block;
                width:100%; height:auto; border-radius: 50%;
            }
        }
            
        .TitlulPaginii{ display: block; margin: 0; font-size: clamp(2rem, 5vw, 4rem); 
            line-height: 1em;
        }
        .SubTitlulPaginii{
            margin:10px;
            padding: 0;
            font-size: clamp(1rem, 2vw, 2rem);
            line-height: 1em;
        }
        .DescrierePrincipala{ display: block; margin:0.5em;
            @media(min-width: 500px){  margin-bottom: 0.5em; }
        }

    main{ clear:both;}
    /* @media(min-width:1200px){main{display:grid; grid-template-columns: 1fr 1fr; }}  */
        .ListaLinkuri{display: block; margin: 0; padding: 0; border-top: 1px solid #fff;
            @media(min-width:880px){ display: grid; grid-template-columns: 1fr 1fr; }
        }
            .ListaItem{display: block; margin: 0; padding: 0; border-bottom: 1px solid #fff;}
                .ListaLink{display: block; padding: 0.5em; color: #fff; text-decoration: none;
                    &:hover{ background: white; color:black; }
                }
                    .ListaTitlu{ display: block; margin:0; padding: 0; font-size: 0.8em; line-height: 1.5em;}
                    .ListaText{ 
                        display: block; margin:0; padding: 0; font-size: 0.6em; line-height: 1.5em;
                        white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

